:root {
  --primary-color: rgba(99, 111, 171, 0.75);
  --secondary-color: rgba(172, 215, 226, 0.9);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Prata', serif;
  line-height: 1.4;
  font-weight: lighter;
}


.container {
  max-width: 960;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

#showcase {
  background: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

#showcase:before {
  content: '';
  background: url('../img/astrology.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

#showcase h1 {
  font-size: 4rem;
}

#showcase p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 0.3125rem;
  background: var(--primary-color);
  color: #fff;
  padding: .75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

hr {
  border: solid var(--primary-color) 3px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.container-fluid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  text-align: center;
}

.box {
  display: inline-block;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  line-height: 2;
}

.box-pic {
  padding: 2rem ;

}

.profile {
  border-radius: 50%;
  width: 80%;
}

.bg-dark {
  background: var(--primary-color);
  color: #fff;
}

.bg-light {
  color: #008AB5;
}

.header-container {
  display: flex
  align-items: center;
  text-align: center;
  padding: 3.125rem;
  background: var(--primary-color);
}

.page-title {
  display: flex
  align-items: center;
  text-align: center;
  padding: 3.125rem;
  font-family: 'Prata', serif;
  font-size: 4rem;
  color: inherit;

}

.services-header {
  font-family: 'Prata', serif;
  font-size: 4rem;
  color: #fff;
}

.testimonial-title {
  display: flex
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  background: var(--secondary-color);
  font-family: 'Prata', serif;
  font-size: 1.5rem;
  color: #fff;
}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.testimonial-box {
  background: var(--secondary-color);
  color: #fff;
  justify-content: center;
  text-align: center;
  padding: 2rem 3.125rem;
  line-height: 2;
}

.faq-container {
display: flex
align-items: center;
padding: 3.125rem;
}

.faqs {
  display: inline-block;
  background: #fff;
  text-align: left;
  line-height: 2;
  width: 100%;
}

.faqs li {
  margin: 1rem 0;
  list-style: none;
}

.contact-heading {
  padding-top: 7rem;
  font-size: 2.25rem
  line-height: 44px;
}

.contact-text-1 {
  font-size: 2rem;
  line-height: 44px;
}

.contact-icon {
  padding: 1.5rem;
}

.contact-text-2 {
  font-size: 1.8125rem;
  line-height: 44px;
}

.contact-img {
  width: 90%;
  border:var(--secondary-color) solid 10px;
}

#footer {
  background: var(--primary-color);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  padding: 3.125rem;
}

a {
color: #008AB5;
  display: inline-block;
}
